{% load bootstrap3 %}
<html lang="ch">
  <head>
    <meta charset='utf-8'>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>working Log</title>
      {% bootstrap_css %}
      {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'working_logs:index' %}">Working Log</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'working_logs:projects' %}">Projects</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="{% url 'working_logs:search' %}" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="project">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="container">
        <div class="page-header">
          {% block header %}{% endblock header %}
        </div>
        <div>
          {% block content %}{% endblock content %}
        </div>
      </div>
</body>