{% extends "working_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>项目图片</h2>
{% endblock header %}

{% block content %}
<head>{{form.media}}</head>
    

  <div class="panel panel-default">
    <div class="panel-heading">
    {% for img in imgs %}
      <p><img class="img-responsive" alt="响应式图像" src="{{ img.img_url.url }}">
        &ensp; &ensp; &ensp; &ensp; &ensp; <a style=" color:rgb(219, 27, 27); font-size:20px;" href="{% url 'working_logs:delete_img' img.id%}">delete</a></p>
      
    {% empty %}
      还没有图片被添加！
    {% endfor %}
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3><a href="{% url 'working_logs:add_img' project.id %}">继续添加</a></h3>
    </div>
</div>

{% endblock content %}